* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 10px;
}

body {

    font-family: 'Roboto', sans-serif;
}

.container {

    max-width: 1200px;
    margin: 0 auto;


}

.container h2 {
    font-size: 38px;
    margin-bottom: 35px;
}

.container p {
    margin-bottom: 25px;
    font-size: 18px;

}

.blocks {
    display: flex;
    gap: 0px 25px;
}

.box {
    width: 33.33%;
}

.box img {
    width: 30%;
    margin-bottom: 25px;

}

.box h3 {
    margin-bottom: 20px;
}

.box p {
    line-height: 24px;
}

hr {

    border: 0;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
    margin: 110px auto;

}

.work_data {
    display: flex;

}

.work_img {
    width: 50%;
}

.work_img img {

    width: 510px;

}

.work_desc {
    width: 50%;

}

.work_desc button {
    border: 0;
    background-color: #F20091;
    color: white;
    height: 50px;
    width: 30%;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;

}

.work_desc h3 {
    margin-bottom: 25px;
    font-size: 20px;
}

.work_desc p {
    line-height: 25px;
    margin-bottom: 35px;
    font-size: 18px;

}

.contact_data {
    display: flex;
}

.contact_desc {
    width: 50%;
    column-gap: 55px;

}

.contact_desc h2 {
    font-size: 40px;
}

.contact_desc p {
    line-height: 25px;
    font-size: 20px;
}

.contact_img {
    width: 50%;
}

.contact_img img {
    width: 510px;
}

.contact_images {
    display: flex;
    column-gap: 50px;
}

/* .contact_images img {
    /* width: 75px; */
} */

.contact_img1 img,
.contact_img2 img {
    width: 75px;
}

/* .contact_img2 img {
    width: 75px;
} */

.contact_img1 p {
    font-size: 20px;
    line-height: 25px;
}

.contact_img2 p {
    font-size: 20px;
    line-height: 25px;
}



.secure_img {
    width: 50%;
}

.secure_img img {

    width: 520px;
}

.secure_desc {
    width: 50%;
    column-gap: 100px;
}

.secure_data {
    display: flex;
}

.secure_images {
    display: flex;
    column-gap: 100px;
}


.secure_desc p {
    font-size: 20px;
    line-height: 30px;
}

.secure_desc h2 {
    font-size: 40px;
}

.secure_img1 img {
    width: 75px;
}

.secure_img2 img {
    width: 75px;
}

.secure_img1 p {
    font-size: 20px;
    line-height: 30px;
}

.secure_img2 p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 80px;
}

#black {
    background-color: #1f2836;
    height: 350px;
    /* width: 100%;  */
    color: white;
    margin-bottom: 100px;
}

 #black h2 {

    padding-top: 60px;
    font-size: 40px;
     /* padding-bottom: -50px;  */

} 

#black p {
    margin-top: 10px;
}

.waiting_btn button {

    color: white;
    background-color:#F20091;
    
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    padding: 15px 20px ;
    margin-bottom: 20px;
    border: 0px;
    padding: 10px 18px;
    /* align-items: flex-start; */
    /* margin-left: 25px; */


}

#black p {
    /* padding-left: 160px; */
    font-size: 24px;
    /* margin-top: -29px; */
    margin-bottom: 50px;
}

.result_img1 img {
    margin-bottom: 8px;
    margin-top: 35px;

}

#result p {
    font-size: 24px;
    line-height: 35px;
}

.result_img1 h3 {
    font-size: 25px;
    line-height: 20px;

}

.result_img {
    /* max-width: 1200px; */
    display: flex;
    flex-wrap: wrap;
}

.result_btn {
    display: flex;
    justify-content: center;
}

.result_btn button {
    width: 220px;
    padding: 10px ;
    color: white;
    background-color: deeppink;
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
    border-radius: 3px;
    border: none;
    margin-bottom:85px;

}

.result_img1 {
    margin: 10px;
    justify-content: center;
}

#help {
    background-color: black;
    height: 350px;
    color: aliceblue;
    

    
}

#help h2 {
    font-size: 40px;
    padding-top: 60px;

}
#help p {
    font-size: 24px;
}

.link {
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */

}
.link_desc, .link_desc1 {
     padding: 35px; 
    font-size: 24px;
    /* gap: 100px; */
    

}

.link_desc1 {
    padding: 35px;
    /* column-gap: 50px; */
    /* row-gap: 50px; */
}

#freelance {
    background-color: #1f2836;
    height: 2000px;
    color: white;
}
.freelancer_imglogo img {
    height: 50px;
}
.freelancer1{
    display: flex;
}
   
.about{
    display: flex;
}
.Terms{
    display: flex;
}
.Partners{
    display: flex;
}
