* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    box-shadow:0.2px 0.2px 0.2px 0.2px grey;
    
}
.icon i{
    height: 5px;
    width: 10px;
    top: 100px;
}

header a{
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    display: inline-block;
    /* margin: 15px; */
    color: black;
}
header nav ul li {
    display: inline-block;
    position: relative;
    list-style-type: none;
   
}

header nav ul li a{
    display: inline-block;
  
   
}  

header nav ul li a:hover {
    background-color: black;
    color: azure;
   
    
}

header nav ul li:hover > ul{
    display: inline-block;

}

header nav ul li ul{
    display: inline-block;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: gray;
    display: none; 
   

}

header nav ul li ul li, header nav ul li ul li a{
    width: 100%;
}

header nav ul li li ul {
    top: 0; 
    left: 103px;  
    position: absolute;
}

@media screen and (max-width:768px){
    nav > ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color: brown;
    }

    header nav ul li{
        display: block;
    }
    header nav ul li ul,header nav ul li li ul{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    header nav ul li a{
        width: 100%;
    }
    header nav ul li ul li  > a {
      padding-left: 40px;
    }
    header nav ul li ul li ul li > a {
        padding-left: 60px;
    }
}