* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatiner {
    height: 800px;
    width: 80%;
    margin: 0 auto;
    border: 2px solid red;
}
.box1 {
    height: 100px;
    width: 100%;
    
   
    
}

.data1 {
    width: 80%;
    height:100% ;
    
    float: left;
    font-weight: bold;
    font-family: cursive;
}

.logo {

    float:right;
    height:30px;
    width:20% ;
    
}
.box2 {
    height:80px;
    width: 28%;
    float: left;
    
}
.Product {
    margin-bottom: 5px;
    height:60px ;
    width:90px;
    border: 2px solid green;
    float: left;
    
}
.imgcontent{
    width:100% ;
    height: 80%;
    margin-bottom: 5px;
    float: left;
}
.imgcontent img{
    height: 100%;
    width: 100%;
}
.data2 {
    width:100% ;
    height: 20%;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-family:cursive;
    border-radius: 5px;
   
}