*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #F0F0F0;
    /* position: relative; */
}
 

.icon {
    /* display: flex; */
     margin-left: 80px;
     width:30%;
    color: gray;
    size: 10px;

     

}


.icon i{
   
    /* justify-content: center;  */
    margin: 10px;

} 

.icon i:hover {
    transition: all 0.2s;
    cursor: pointer;
    color: orangered;
}




.links ul li {
    list-style: none;
    display: inline-block;
    /* margin: 60px; */
    
}

.links ul li a {
    display: inline-block;
    text-decoration: none;
    color:grey;
    font-size: 12px;
    font-weight: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    padding: 2px;
    /* margin-right: -60px; */
    /* margin-left: 50px; */

   
}

.links ul li a:hover {
    transition: all 0.2s;
    cursor: pointer;
    color: rgb(222, 88, 40);
}

.links ul li a:before {
    content: '';
    /* position: absolute; */
    height: 100px;
    width: 1px; 
    color: grey;
    
}



/* .links ul li:first-child a {
    display: none;

} 
a:lang() {
    quotes:"|";
} */

